.aboutSection {
    // height:70vh;
    margin-top:8%;
    position: relative;
    margin-bottom:5%;
    h3 {
        color:$accentColorCyan;
        margin:0 auto;
    }
}

.aboutSectionTextAndPic {
    display:flex;
    justify-content: space-between;
}

.aboutSectionText {
    font-size:1.7rem;
    width:60%;
    line-height:38px;
    padding-bottom:3%;
    padding-left:30px;
    
    // background-color:$primaryBackground;
}

.aboutSectionPicture  {
    width:30%;
    p {
        width:80%;
    }
    img{
        max-height:400px;
        border-radius: 7px;
    }
}

.textBackground {
    background-color: $primaryBackground;
    border-radius:  30px 0 0 120px;
    height:100%;
    width:60%;
    position: absolute;
    right:0;
    z-index: -1;
}