footer {
  padding: 10px 0;
  background-color: $primaryBackground;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 10px 20px 15px rgba(15, 11, 11, 0.4);

  p {
    color: $fontColor;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.8rem;
    text-align: center;

    @include mqTabletSmall {
      font-size: 1.8rem;
    }
  }
}
