header {
    padding-bottom:8%;
    position: relative;
    background-color:$primaryBackground;
    border-radius: 0 0 200px 0;
    box-shadow: 0 20px 30px rgba(15, 11, 11, 0.4);
}

// Navbar Start
.topNavbar {
    height:60px;
    border-radius: 0 0 15px 15px;
    position: fixed;
    top:0;
    z-index: 1;
    background-color:$primaryBackground2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    ul {
        display:flex;
        justify-content: space-between;
    }

    .topNavbarLeftHalf,
    .topNavbarRightHalf {
        display:flex;
        font-size:2rem;
    }

    .topNavbarLeftHalf {
        width:20%;
        justify-content: flex-start;
        li a {
            display:flex;
            justify-content: space-between;
            padding:10px 17px;
            margin-top:10px;
            background-color:rgba(247, 56, 89, 0.7);
            border-radius: 50px;
            color:black;
            font-size: 1.8rem;
            &:hover {
                background-color:rgba(247, 56, 89,0.9);
            }
        }
    }

    .topNavbarRightHalf {
        width:80%;
        justify-content: flex-end;
        li a{
            display:flex;
            justify-content: space-between;
            padding:10px 17px;
            margin-top:10px;
            background-color:rgba(247, 56, 89, 0.7);
            margin-left:15px;
            color:black;
            border-radius: 50px;
            font-size: 1.8rem;
            &:hover {
                background-color:rgba(247, 56, 89,0.9);
                background-blend-mode: multiply;
            }
        }
    }
}
// Navbar End


// Page One Name Start
h1,h3 {
    font-size:8rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    transform: translateY(10%);
    color:$fontColor;
}

h1 {
    padding-top:10%;
    line-height:130px;
    padding-bottom:45px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

h3 {
    font-size:6rem;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.pageOneName {
    padding-top:8%;
    padding-bottom:10%;
    font-size:7rem;
    .myName {
        color:$accentColorCyan;
        font-size:12rem;
        font-family: 'Cougrette', cursive;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    }
}

// Page One Name End