header {
  // padding-bottom: 17%;
  // padding-top: 13%;
  position: relative;
  border-radius: 0 0 200px 0;
  box-shadow: 0 20px 30px rgba(15, 11, 11, 0.4);
  height: 95vh;
  background: linear-gradient(90deg,
      $primaryBackground (22px - 1px),
      transparent 1%) center,
    linear-gradient($primaryBackground (22px - 1px), transparent 1%) center,
    $accentColor;
  background-size: 22px 22px;

  @include mqLaptopBig {
    max-height: 90vh;
    border-radius: 0 0 100px 0;
  }

  @include mqPhoneBig {
    max-height: 85vh;
  }
}

@include mqTabletSmall {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

.menuOpener a {
  display: block;
  width: 100%;
  height: 100%;
}

.menuOpener,
.menuOpener:hover,
.menuOpener.active,
.menuOpenerInner,
.menuOpenerInner::before,
.menuOpenerInner::after,
.menu,
.menu.active {
  transition: 250ms all;
}

.menuOpener {
  cursor: pointer;
  height: 64px;
  position: fixed;
  top: 2%;
  left: 1%;
  user-select: none;
  width: 64px;
  z-index: 9999;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    background: $primaryBackground2;
    border-radius: 20px;
  }
}

.menuOpener:hover,
.menuOpener.active {
  background: $primaryBackground2;
  border-radius: 20px;
}

.menuOpenerInner {
  background: $accentColor;

  height: 0.5rem;
  width: 4rem;

  &:focus {
    outline: 1px solid $accentColor;
    border-radius: 20px;
  }
}

.menuOpenerInner::before,
.menuOpenerInner::after {
  background: $fontColor;
  content: "";
  display: block;
  height: 0.5rem;
  margin-top: 0px;
  width: 4rem;
}

.menuOpenerInner::before {
  transform: translateY(-1rem);
}

.menuOpenerInner::after {
  transform: translateY(0.5rem);
}

.menuOpenerInner.active {
  background: transparent;
}

.menuOpenerInner.active::before {
  transform: translateY(0rem) rotate(-45deg);
}

.menuOpenerInner.active::after {
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: $primaryBackground2;
  color: transparent;
  height: 64px;
  position: fixed;
  top: 2%;
  left: 1%;
  user-select: none;
  width: 0rem;
  z-index: 1;
  border-radius: 20px;
}

.menu.active {
  width: calc(70% - 4rem);
}

.menu.active .menuLink {
  color: $fontColor;

  &:hover {
    color: black;
    background-color: $accentColor;
    border-radius: 15px;
  }

  &:focus {
    color: black;
    background-color: $accentColor;
    border-radius: 15px;
  }
}

.menuInner {
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menuLink {
  color: transparent;
  display: flex;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.menuLink li {
  margin: auto;
}

@include mqTabletSmall {
  .menu {
    height: auto;
  }

  .menuInner {
    display: block;
  }

  .menuLink {
    padding: 10px 0;
    font-size: 1.8em;
    height: 50px;
  }

  .menu.active {
    width: 250px;
  }
}

.resumeButton {
  font-size: 1.8rem;
  border-radius: 50px;
  padding: 10px 25px;
  background: $accentColor;
  color: $fontColor;
  margin-top:40px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1),
    0px 5px 4px rgba(0, 0, 0, 0.1),
    0px 5px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $primaryBackground2;
  }
}

// Page One Name Start
h1,
h3,
.hi {
  font-size: 8rem;
  text-align: center;
  letter-spacing: 2px;
  transform: translateY(10%);
  color: $fontColor;
  // margin-top: 30px;
  // margin-bottom: 30px;

  @include mqLaptopSmall {
    font-size: 6rem;
  }
}

h1 {
  font-weight: 100;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 6rem;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  margin-top:30px;

  @include mqLaptopSmall {
    font-size: 5rem;
  }

  @include mqTabletSmall {
    font-size: 4rem;
  }
}

.pageOneName {
  font-size: 9rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:100%;

  @include mqLaptopSmall {
    font-size: 6rem;
    // padding-top: 15%;
    // padding-bottom: 15%;
  }

  @include mqPhoneBig {
    // padding-top: 30%;
  }

  .myName {
    color: $accentColor;
    font-size: 18rem;
    font-weight: 900;
    font-family: "Tangerine", cursive;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);

    @include mqLaptopSmall {
      font-size: 15rem;
    }

    @include mqTabletSmall {
      font-size: 10rem;
    }
  }
}

// Page One Name End

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: $primaryBackground;
  color: $fontColor;
  font-size: 2rem;
  border-radius: 15px;

  &:focus {
    border: 1px solid $accentColor;
    outline: none;
    border-radius: 15px;
    padding: 10px;
  }
}

.skip-link:focus {
  left: 40%;
  top: 10%;
  border-radius: 15px;
}

.socialIcons {
  display:flex;
  justify-content: center;
  margin-top:30px;
  .contactFormIcon2,.contactFormIcon3 {
    margin-left:20px;
  }
}

// Hamburger menu thanks to Phillippe
// https://codepen.io/Philippe_Fercha/pen/rqkci