.projectsSection {
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  background: linear-gradient(
        90deg,
        $primaryBackground (22px - 1px),
        transparent 1%
      )
      center,
    linear-gradient($primaryBackground (22px - 1px), transparent 1%) center,
    $accentColor;
  background-size: 22px 22px;
  border-radius: 200px 0 200px 0;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  @include mqTabletSmall {
    border-radius: 100px 0 100px 0;
  }

  p {
    font-size: 1.9rem;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour,
.projectFive {
  margin-top: 80px;
  width: 100%;

  @include mqLaptopSmall {
    margin-top: 80px;
  }
}

.projectTwo,
.projectThree,
.projectFour,
.projectFive {
  @include mqPhoneBig {
    margin-bottom: 50px;
  }
}

.titlePart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include mqLaptopSmall {
    flex-direction: column;
  }

  a {
    background-color: rgba(247, 56, 89, 0.8);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 5px 4px rgba(0, 0, 0, 0.1),
      0px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    border-radius: 50px;
    padding: 10px 30px;

    @include mqLaptopSmall {
      font-size: 1.7rem;
      width: 30%;
      text-align: center;
      margin-top: 15px;
    }

    @include mqPhoneBig {
      padding: 10px 8px;
      width: 60%;
    }

    &:hover {
      background-color: $primaryBackground2;
    }

    &:focus {
      background-color: $primaryBackground2;
      border: 1px solid $accentColor;
      outline: none;
      border-radius: 20px;
    }
  }
}

.projectOnePreviews,
.projectTwoPreviews,
.projectThreePreviews,
.projectFourPreviews,
.projectFivePreviews {
  box-shadow: 6px 10px 30px 6px $primaryBackground2;
  border-radius: 10px;

  img {
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    padding-right: 30px;

    @include mqLaptopSmall {
      padding: 0;
    }
  }
}

.projectsSection {
  h4 {
    font-size: 2.5rem;
    color: $fontColor;
  }

  h3 {
    color: $accentColor;
    padding-top: 40px;
  }
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour,
.projectFive {
  display: flex;
  justify-content: space-between;

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  @include mqLaptopSmall {
    &:nth-of-type(2n) {
      flex-direction: column;
    }
  }

  @include mqLaptopBig {
    flex-direction: column;
    align-items: center;
  }

  .projectOneDesc,
  .projectOnePreviews,
  .projectTwoDesc,
  .projectTwoPreviews,
  .projectThreeDesc,
  .projectThreePreviews,
  .projectFourDesc,
  .projectFourPreviews,
  .projectFiveDesc,
  .projectFivePreviews {
    padding: 20px;
    width: 50%;

    @include mqLaptopBig {
      width: 80%;
    }

    @include mqLaptopSmall {
      width: 100%;
    }
  }
}

.projectOneDesc,
.projectTwoDesc,
.projectThreeDesc,
.projectFourDesc,
.projectFiveDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skillsList {
  display: flex;
  justify-content: space-evenly;

  @include mqLaptopSmall {
    flex-wrap: wrap;
  }
}

.skillButton {
  font-size: 1.8rem;
  font-weight: 900;
  color: $accentColor;

  @include mqLaptopSmall {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }

  @include mqPhoneBig {
    margin-right: 5px;
  }
}
