.skillsSection {
    height:70vh;
}

.topHalfIcons {
        height:600px;
        width:600px;
        padding:10px;
        border-radius: 50%;
        color:blue;
        margin-bottom:20px;
        background-color: lightslategray;
        margin:0 auto;
        position: relative;
        .devicon-html5-plain-wordmark:hover {
                color: #C73118;
                box-shadow: 0 0 15px #C73118;
                text-shadow: 0 0 15px #C73118;
        }
        .devicon-css3-plain-wordmark:hover {
                color: #254BDD;
                box-shadow: 0 0 15px #254BDD;
                text-shadow: 0 0 15px #254BDD;
        }
        .devicon-sass-original:hover {
                color: #C76494;
                box-shadow: 0 0 15px #C76494;
                text-shadow: 0 0 15px #C76494;
        }
        .devicon-react-original-wordmark:hover {
                color: #5ED3F3;
                box-shadow: 0 0 15px #5ED3F3;
                text-shadow: 0 0 15px #5ED3F3;
        }
        .devicon-javascript-plain:hover {
                color: #FFDA07;
                box-shadow: 0 0 15px #FFDA07;
                text-shadow: 0 0 15px #FFDA07;
        }
        .devicon-jquery-plain-wordmark:hover {
                color: #78CFF5;
                box-shadow: 0 0 15px #78CFF5;
                text-shadow: 0 0 15px #78CFF5;
        }
        .devicon-github-plain-wordmark:hover {
                color: #FFFFFF;
                box-shadow: 0 0 15px #FFFFFF;
                text-shadow: 0 0 15px #FFFFFF;
        }
        .fa-universal-access:hover {
                color: #19A376;
                box-shadow: 0 0 15px #19A376;
                text-shadow: 0 0 15px #19A376;
        }
        i,.firebaseIcon {
                width:160px;
                position: absolute;
                font-size:12rem;
                background-color: black;
                color: #666;
                padding:20px;
                border-radius: 50%;
                transition: .1s;
            &:before {
                transition: .1s;
                transform: scale(.9);
            }
            &:hover::before {
                transform: scale(1.2);
            }
    }
}

.devicon-html5-plain-wordmark {
        left:38%;
}

.devicon-css3-plain-wordmark{
        top:45%;
        left:70%;
}
.devicon-sass-original{
      right:61%;
        top:14%;
}
.devicon-react-original-wordmark{
        top:40%;
        left:2%;
}
.devicon-javascript-plain{
        top:68%;
        left:48%;
        border-radius: 60%;
}
.devicon-jquery-plain-wordmark{
        top:18%;
        left:62%;
}
.devicon-github-plain-wordmark{
        top:65%;
        right:55%;
}
.fa-universal-access{
        height:160px;
        left:37%;
        top:37%;
}


@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-150px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-150px) 
		           rotate(-360deg);
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-14 0:11:3
 * ---------------------------------------------- */
.vibrate-2 {
	animation: vibrate-2 4s linear infinite both;
}

 @keyframes vibrate-2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


// Glow effect of skills icon
// https://codepen.io/Stockin/pen/XPvpoB