.skillsSection {
    height:70vh;
}

.topHalfIcons {
    
        
        height:100px;
        width:100px;
        padding:10px;
        border-radius: 50%;
        color:blue;
        margin-bottom:20px;
    i {
        width:100%;
        background-color: black;
        color:red;
        font-size:5rem;
        height:200px;
        width:200px;
        padding:20px;
        border-radius: 50%;
    }
}