$primaryBackground: #14161E;
$accentColorCyan: #35E688;
$accentColorRed: #E30425;
$accentColorRed2:#FF0266;
$accentColorTest: #83B692;

@import "./Partials/setupSnippet";
@import "./Partials/header";
@import "./Partials/main";
@import "./Partials/aboutSection";
@import "./Partials/skills";
@import "./Partials/projects";

.wrapper {
    max-width:1200px;
    width:80%;
    margin:0 auto;
}

html {
    font-size:62.5%;
}

a {
    text-decoration: none;
    color:white;
    font-family: 'Spectral', serif;
    font-weight:500;
    // letter-spacing:1px;
}

p {
    color:white;
}

* {
    // border: 1px solid darkmagenta;
}

body {
    font-family: 'Merriweather', serif;
    background-color: $primaryBackground ;
    // font-family: 'Spectral', serif;
    // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

