@import "./Partials/setupSnippet";
@import "./Partials/header";
@import "./Partials/main";

.wrapper {
    max-width:1200px;
    width:80%;
    margin:0 auto;
}

html {
    font-size:62.5%;
}

a {
    text-decoration: none;
    color:black;
    font-family: 'Spectral', serif;
    font-weight:500;
    // letter-spacing:1px;
}

* {
    // border: 1px solid darkmagenta;
}

body {
    font-family: 'Merriweather', serif;
    // font-family: 'Spectral', serif;
    // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}