@import "./Partials/variables";
@import "./Partials/setupSnippet";
@import "./Partials/mediaQuery";
@import "./Partials/header";
@import "./Partials/main";
@import "./Partials/aboutSection";
@import "./Partials/skills";
@import "./Partials/projects";
@import "./Partials/contactForm";
@import "./Partials/footer";



.wrapper {
    max-width:1200px;
    width:80%;
    margin:0 auto;
}

html {
    font-size:62.5%;
}

a {
    text-decoration: none;
    color:$fontColor;
    font-family: 'Spectral', serif;
    font-weight:500;
}

p {
    color:$fontColor;
    font-size:2rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $primaryBackground2;
}

