article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*
html5doctor.com Reset Stylesheet v1.6.1
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

header {
  padding-bottom: 8%;
  position: relative;
  background-color: #404b69;
  border-radius: 0 0 200px 0;
  -webkit-box-shadow: 0 20px 30px rgba(15, 11, 11, 0.4);
          box-shadow: 0 20px 30px rgba(15, 11, 11, 0.4);
}

.topNavbar {
  height: 60px;
  border-radius: 0 0 15px 15px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #283149;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.topNavbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topNavbar .topNavbarLeftHalf,
.topNavbar .topNavbarRightHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

.topNavbar .topNavbarLeftHalf {
  width: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.topNavbar .topNavbarLeftHalf li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 17px;
  margin-top: 10px;
  background-color: rgba(247, 56, 89, 0.7);
  border-radius: 50px;
  color: black;
  font-size: 1.8rem;
}

.topNavbar .topNavbarLeftHalf li a:hover {
  background-color: rgba(247, 56, 89, 0.9);
}

.topNavbar .topNavbarRightHalf {
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topNavbar .topNavbarRightHalf li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 17px;
  margin-top: 10px;
  background-color: rgba(247, 56, 89, 0.7);
  margin-left: 15px;
  color: black;
  border-radius: 50px;
  font-size: 1.8rem;
}

.topNavbar .topNavbarRightHalf li a:hover {
  background-color: rgba(247, 56, 89, 0.9);
  background-blend-mode: multiply;
}

h1, h3 {
  font-size: 8rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  color: #dbedf3;
}

h1 {
  padding-top: 10%;
  line-height: 130px;
  padding-bottom: 45px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 6rem;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.pageOneName {
  padding-top: 8%;
  padding-bottom: 10%;
  font-size: 7rem;
}

.pageOneName .myName {
  color: #f73859;
  font-size: 12rem;
  font-family: 'Cougrette', cursive;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.aboutSection {
  margin-top: 8%;
  position: relative;
  margin-bottom: 5%;
}

.aboutSection h3 {
  color: #f73859;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.aboutSectionTextAndPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutSectionText {
  font-size: 1.7rem;
  width: 60%;
  line-height: 34px;
  padding-bottom: 3%;
  padding-left: 40px;
}

.aboutSectionPicture {
  width: 30%;
}

.aboutSectionPicture p {
  width: 80%;
}

.aboutSectionPicture img {
  max-height: 400px;
  border-radius: 7px;
}

.textBackground {
  background-color: #404b69;
  border-radius: 30px 0 0 120px;
  height: 100%;
  width: 60%;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.skillsSection {
  padding-bottom: 2%;
  background-color: #404b69;
  border-radius: 200px 0 200px 0;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.skillsSection h3 {
  color: #f73859;
  margin-bottom: 50px;
  width: 40%;
  margin: 0 auto;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 60px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.topHalfIcons {
  height: 600px;
  width: 600px;
  padding: 10px;
  border-radius: 50%;
  color: blue;
  background-color: #283149;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

.topHalfIcons .devicon-html5-plain-wordmark:hover {
  color: #ffa259;
  -webkit-box-shadow: 0 0 15px #ffa259;
          box-shadow: 0 0 15px #ffa259;
  text-shadow: 0 0 15px #ffa259;
}

.topHalfIcons .devicon-css3-plain-wordmark:hover {
  color: #4f81c7;
  -webkit-box-shadow: 0 0 15px #4f81c7;
          box-shadow: 0 0 15px #4f81c7;
  text-shadow: 0 0 15px #4f81c7;
}

.topHalfIcons .devicon-sass-original:hover {
  color: #C76494;
  -webkit-box-shadow: 0 0 15px #C76494;
          box-shadow: 0 0 15px #C76494;
  text-shadow: 0 0 15px #C76494;
}

.topHalfIcons .devicon-react-original-wordmark:hover {
  color: #5ED3F3;
  -webkit-box-shadow: 0 0 15px #5ED3F3;
          box-shadow: 0 0 15px #5ED3F3;
  text-shadow: 0 0 15px #5ED3F3;
}

.topHalfIcons .devicon-javascript-plain:hover {
  color: #FFDA07;
  -webkit-box-shadow: 0 0 15px #FFDA07;
          box-shadow: 0 0 15px #FFDA07;
  text-shadow: 0 0 15px #FFDA07;
}

.topHalfIcons .devicon-jquery-plain-wordmark:hover {
  color: #78CFF5;
  -webkit-box-shadow: 0 0 15px #78CFF5;
          box-shadow: 0 0 15px #78CFF5;
  text-shadow: 0 0 15px #78CFF5;
}

.topHalfIcons .devicon-github-plain-wordmark:hover {
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 15px #FFFFFF;
          box-shadow: 0 0 15px #FFFFFF;
  text-shadow: 0 0 15px #FFFFFF;
}

.topHalfIcons .fa-universal-access:hover {
  color: #19A376;
  -webkit-box-shadow: 0 0 15px #19A376;
          box-shadow: 0 0 15px #19A376;
  text-shadow: 0 0 15px #19A376;
}

.topHalfIcons i, .topHalfIcons .firebaseIcon {
  width: 160px;
  position: absolute;
  font-size: 12rem;
  background-color: #03051e;
  color: #666;
  padding: 20px;
  border-radius: 50%;
  -webkit-transition: .1s;
  transition: .1s;
}

.topHalfIcons i:before, .topHalfIcons .firebaseIcon:before {
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.topHalfIcons i:hover::before, .topHalfIcons .firebaseIcon:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.devicon-html5-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-sass-original,
.devicon-react-original-wordmark,
.devicon-javascript-plain,
.devicon-jquery-plain-wordmark,
.devicon-github-plain-wordmark,
.fa-universal-access {
  -webkit-box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.devicon-html5-plain-wordmark {
  left: 38%;
}

.devicon-css3-plain-wordmark {
  top: 45%;
  left: 70%;
}

.devicon-sass-original {
  right: 61%;
  top: 14%;
}

.devicon-react-original-wordmark {
  top: 40%;
  left: 2%;
}

.devicon-javascript-plain {
  top: 68%;
  left: 48%;
}

.devicon-jquery-plain-wordmark {
  top: 18%;
  left: 62%;
}

.devicon-github-plain-wordmark {
  top: 65%;
  right: 55%;
}

.fa-universal-access {
  height: 160px;
  left: 37%;
  top: 37%;
}

.rotate {
  -webkit-animation: rotate 2s linear infinite both;
          animation: rotate 2s linear infinite both;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg) translate(-5px) rotate(0deg);
            transform: rotate(0deg) translate(-5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-5px) rotate(-360deg);
            transform: rotate(360deg) translate(-5px) rotate(-360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg) translate(-5px) rotate(0deg);
            transform: rotate(0deg) translate(-5px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-5px) rotate(-360deg);
            transform: rotate(360deg) translate(-5px) rotate(-360deg);
  }
}

/* ----------------------------------------------
 * Credits to Animista
 * ---------------------------------------------- */
.vibrate2 {
  -webkit-animation: vibrate2 1.7s linear infinite both;
          animation: vibrate2 1.7s linear infinite both;
}

@-webkit-keyframes vibrate2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.projectsSection {
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  background-color: #404b69;
  border-radius: 200px 0 200px 0;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.projectsSection p {
  font-size: 1.9rem;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour,
.projectFive {
  margin-top: 80px;
  width: 100%;
}

.titlePart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlePart a {
  background-color: rgba(247, 56, 89, 0.8);
  font-size: 2rem;
  border-radius: 50px;
  padding: 10px 30px;
}

.titlePart a:hover {
  background-color: #283149;
}

.projectOnePreviews img,
.projectTwoPreviews img,
.projectThreePreviews img,
.projectFourPreviews img,
.projectFivePreviews img {
  width: 550px;
  border-radius: 15px;
  padding: 20px;
  padding-right: 30px;
}

.projectsSection h4 {
  font-size: 2.5rem;
  color: #dbedf3;
}

.projectsSection h3 {
  color: #f73859;
  padding-top: 40px;
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour,
.projectFive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projectOne .projectOneDesc,
.projectOne .projectOnePreviews,
.projectOne .projectTwoDesc,
.projectOne .projectTwoPreviews,
.projectOne .projectThreeDesc,
.projectOne .projectThreePreviews,
.projectOne .projectFourDesc,
.projectOne .projectFourPreviews,
.projectOne .projectFiveDesc,
.projectOne .projectFivePreviews,
.projectTwo .projectOneDesc,
.projectTwo .projectOnePreviews,
.projectTwo .projectTwoDesc,
.projectTwo .projectTwoPreviews,
.projectTwo .projectThreeDesc,
.projectTwo .projectThreePreviews,
.projectTwo .projectFourDesc,
.projectTwo .projectFourPreviews,
.projectTwo .projectFiveDesc,
.projectTwo .projectFivePreviews,
.projectThree .projectOneDesc,
.projectThree .projectOnePreviews,
.projectThree .projectTwoDesc,
.projectThree .projectTwoPreviews,
.projectThree .projectThreeDesc,
.projectThree .projectThreePreviews,
.projectThree .projectFourDesc,
.projectThree .projectFourPreviews,
.projectThree .projectFiveDesc,
.projectThree .projectFivePreviews,
.projectFour .projectOneDesc,
.projectFour .projectOnePreviews,
.projectFour .projectTwoDesc,
.projectFour .projectTwoPreviews,
.projectFour .projectThreeDesc,
.projectFour .projectThreePreviews,
.projectFour .projectFourDesc,
.projectFour .projectFourPreviews,
.projectFour .projectFiveDesc,
.projectFour .projectFivePreviews,
.projectFive .projectOneDesc,
.projectFive .projectOnePreviews,
.projectFive .projectTwoDesc,
.projectFive .projectTwoPreviews,
.projectFive .projectThreeDesc,
.projectFive .projectThreePreviews,
.projectFive .projectFourDesc,
.projectFive .projectFourPreviews,
.projectFive .projectFiveDesc,
.projectFive .projectFivePreviews {
  padding: 20px;
  width: 50%;
}

.projectOne .projectOneDesc:hover,
.projectOne .projectOnePreviews:hover,
.projectOne .projectTwoDesc:hover,
.projectOne .projectTwoPreviews:hover,
.projectOne .projectThreeDesc:hover,
.projectOne .projectThreePreviews:hover,
.projectOne .projectFourDesc:hover,
.projectOne .projectFourPreviews:hover,
.projectOne .projectFiveDesc:hover,
.projectOne .projectFivePreviews:hover,
.projectTwo .projectOneDesc:hover,
.projectTwo .projectOnePreviews:hover,
.projectTwo .projectTwoDesc:hover,
.projectTwo .projectTwoPreviews:hover,
.projectTwo .projectThreeDesc:hover,
.projectTwo .projectThreePreviews:hover,
.projectTwo .projectFourDesc:hover,
.projectTwo .projectFourPreviews:hover,
.projectTwo .projectFiveDesc:hover,
.projectTwo .projectFivePreviews:hover,
.projectThree .projectOneDesc:hover,
.projectThree .projectOnePreviews:hover,
.projectThree .projectTwoDesc:hover,
.projectThree .projectTwoPreviews:hover,
.projectThree .projectThreeDesc:hover,
.projectThree .projectThreePreviews:hover,
.projectThree .projectFourDesc:hover,
.projectThree .projectFourPreviews:hover,
.projectThree .projectFiveDesc:hover,
.projectThree .projectFivePreviews:hover,
.projectFour .projectOneDesc:hover,
.projectFour .projectOnePreviews:hover,
.projectFour .projectTwoDesc:hover,
.projectFour .projectTwoPreviews:hover,
.projectFour .projectThreeDesc:hover,
.projectFour .projectThreePreviews:hover,
.projectFour .projectFourDesc:hover,
.projectFour .projectFourPreviews:hover,
.projectFour .projectFiveDesc:hover,
.projectFour .projectFivePreviews:hover,
.projectFive .projectOneDesc:hover,
.projectFive .projectOnePreviews:hover,
.projectFive .projectTwoDesc:hover,
.projectFive .projectTwoPreviews:hover,
.projectFive .projectThreeDesc:hover,
.projectFive .projectThreePreviews:hover,
.projectFive .projectFourDesc:hover,
.projectFive .projectFourPreviews:hover,
.projectFive .projectFiveDesc:hover,
.projectFive .projectFivePreviews:hover {
  -webkit-box-shadow: 6px 10px 30px 6px #283149;
          box-shadow: 6px 10px 30px 6px #283149;
  border-radius: 10px;
}

.projectOneDesc,
.projectTwoDesc,
.projectThreeDesc,
.projectFourDesc,
.projectFiveDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skillButton {
  font-size: 1.8rem;
  color: #dbedf3;
  background-color: #283149;
  padding: 10px 10px;
  border-radius: 7px;
  letter-spacing: 2px;
}

.skillButton:hover {
  background-color: rgba(247, 56, 89, 0.8);
}

button,
input {
  letter-spacing: 1.4px;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #212020;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screenHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: #2A2929;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screenHeaderLeft {
  margin-right: auto;
}

.screenHeaderButton {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  border-radius: 8px;
}

.screenHeaderButton.close {
  background: #FF4446;
}

.screenHeaderButton.maximize {
  background: #e8e925;
}

.screenHeaderButton.minimize {
  background: #74c54f;
}

.screenHeaderRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screenHeaderEllipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screenBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screenBodyItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.screenBodyItem.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.appTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #f73859;
  font-size: 3rem;
}

.appTitle:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #f73859;
}

.appContact {
  margin-top: auto;
  font-size: 8px;
  color: #dbedf3;
}

.appFormGroup {
  margin-bottom: 15px;
}

.appFormGroup.message {
  margin-top: 40px;
}

.appFormGroup.buttons {
  margin-bottom: 0;
  text-align: right;
}

.appFormControl {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #dbedf3;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.appFormControl::-webkit-input-placeholder {
  color: #dbedf3;
}

.appFormControl:-ms-input-placeholder {
  color: #dbedf3;
}

.appFormControl::-ms-input-placeholder {
  color: #dbedf3;
}

.appFormControl::placeholder {
  color: #dbedf3;
}

.appFormControl:focus {
  border-bottom-color: #ddd;
}

.appFormButton {
  background: none;
  border: none;
  color: #f73859;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.appFormButton:hover {
  color: #b9134f;
}

@media screen and (max-width: 520px) {
  .screenBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .screenBodyItem.left {
    margin-bottom: 30px;
  }
  .appTitle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .appTitle span {
    margin-right: 12px;
  }
  .appTitle:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screenBody {
    padding: 40px;
  }
  .screenBodyItem {
    padding: 0;
  }
}

footer {
  padding: 10px 0;
  font-size: 1.8rem;
  text-align: center;
  background-color: #404b69;
  border-radius: 15px 15px 0px 0px;
  -webkit-box-shadow: 0 10px 20px 15px rgba(15, 11, 11, 0.4);
          box-shadow: 0 10px 20px 15px rgba(15, 11, 11, 0.4);
}

footer p {
  color: #dbedf3;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #dbedf3;
  font-family: 'Spectral', serif;
  font-weight: 500;
}

p {
  color: #dbedf3;
  font-size: 2rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #283149;
}
